body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #181818;
    color: white;
}
#top-nav-bar {
    background: rgba(0, 0, 0, 0.842);
    backdrop-filter: blur(7px);
    width: 100%;
    position: fixed;
    padding: 10px;
    z-index: 10000;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.top-nav-bar-item {
    margin: 5px;
    color: white;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px;
    border-radius: 4px;
}
.top-nav-bar-item:hover {
    cursor: pointer;
    background-color: rgb(31, 31, 31)
}
.top-nav-bar-item_title {
    font-weight: bold;
}
#def-section-69 {
    background-image: url('https://www.wallpaperuse.com/wallp/34-343289_m.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 3px grey;
}
#def-section-69_backdrop-filter {
    background-color: rgba(0, 0, 0, 0.096);
    backdrop-filter: blur(6px);
    width: 100%;
    padding-top: 280px;
    padding-bottom: 280px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#def-section-69_title {
    color: white;
    font-size: 65px;
    font-weight: bold;
}
#def-section-69_stitle {
    color: white;
    font-size: 35px;
}
#def-section-69_bot-img {
    width: 250px;
    height: 250px;
    border-radius: 1000px;
}
#def-section-48_main-page {
    padding: 20px;
    float: left;
}
.label-main-page {
    font-size: 25px;
    float: left;
    font-weight: bold;
}
.def-line-main_page {
    width: 100px;
    height: 5px;
    background: linear-gradient(to right, rgb(106, 0, 177) 0%, #a869c9 100%);
    border-radius: 100px;
    float: left;
}
#clickBox-Main {
    border-radius: 4px;
    background-color: rgb(106, 0, 177);
}
.def-card-420 {
    margin: 15px;
    border-radius: 7px;
    background: #363636;
    padding: 20px;
}
.label-main-420 {
    font-size: 25px;
}
.def-button-420 {
    border-radius: 4px;
    background-color: rgb(106, 0, 177);
    color: white;
    border-style: none;
    padding: 7px;
    font-size: 15px;
    box-shadow: 0px 0px 5px rgb(36, 36, 36);
}
.def-button-420:hover {
    background-color: rgb(78, 8, 124);
    cursor: pointer;
}
code {
    background-color: #000000;
    border-radius: 4px;
    padding: 1.54px;
}
.item-shut-notAllowed:hover {
    cursor: not-allowed;
}
/* Updated to add this description to fool github to reupdating the website as it failed at first try.
